.user-form {
    padding: 80px 20px 0;
}

.user-form__header {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 40px;
}

.user-form__input {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.user-form__input-border {
    padding-bottom: 10px;
}

.user-form__input-name {
    width: 60px;
    margin-right: 5px;
    text-align-last: justify;
    margin-left: 10px;
}

.user-form__info {
    width: 75px;
}

.user-form__input-content {
    margin-left: 10px;
    flex: 1;
}

.user-form__vertify-code {
    display: flex;
}

.user-form__vertify-code-input {
    flex: 1;
    margin-right: 10px;
}

.user-form__submit {
    width: 100%;
}